body{
  background-color : #c1c5eb;
}

h1{
  font-family: Arial, Helvetica, sans-serif;
  color: #0e121d;
}

h2{
  font-family: Arial, Helvetica, sans-serif;
  color: #0e121d;
}

img {
  width: 190px; 
  height: auto; 
  border-radius: 10px; 
  object-fit: cover; 
}

img {
  width: 190px;
  height: 190px;
  object-fit: cover; /* para manter a proporção e evitar distorções */
}




